<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PP03Yaroshevski.Properties.Settings.PP03YaroshevskiConnectionString" connectionString="Data Source=desktop-snurd1j\sqlexpress;Initial Catalog=PP03Yaroshevski;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBEntities" connectionString="metadata=res://*/DataFolder.ModelDB.csdl|res://*/DataFolder.ModelDB.ssdl|res://*/DataFolder.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-snurd1j\sqlexpress;initial catalog=PP03Yaroshevski;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>